// app global css in SCSS form

body {
  background-color: antiquewhite;
}

.std-column {
  display: flex !important;
  flex-direction: column;
}

.std-dialog-title {
  font-size: 20px;
}

.main-left-sidebar-drawer {
  background-color: lightgrey;
}

.std-card {
  min-width: 300px;
  max-width: 900px;
  width: calc(100% - 12px - 12px);
  margin: 12px;

  .title-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      flex: 1;
      font-size: 20px;
    }
  }
}

.std-table-non-morphing {
  td:not(:last-child) {
    text-wrap: wrap;
    overflow-wrap: anywhere;
  }

  .search-field {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.std-margin-bottom-32 {
  margin-bottom: 32px;
}

.spacer {
  flex: 1;
}

.loading-notifier {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 24px;
  padding-top: 0px;
}
