// $fin-bold-head-bg-color: #4f626c;
// $fin-head-bg-color: #4f626c;

$fin-bold-head-bg-color: #37474f;
$fin-head-bg-color: #37474f;

$fin-border-color: #f5f5f5;

.fin-presentation-container {
  // currently contains nothing
}

.fin-presentation-title {
  width: 100%;
  background-color: $fin-bold-head-bg-color;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 4px;
  border: 1px solid $fin-border-color;
  border-bottom: 0px;
}

.fin-presentation {
  // currently contains nothing
}

.fin-presentation-head-container {
  width: 100%;
  background-color: $fin-head-bg-color;
  color: white;
  flex-wrap: nowrap;
}

.fin-presentation-head-textual {
  flex: 1;
  flex-wrap: nowrap;
  padding: 4px;
  border: 1px solid $fin-border-color;
}

.fin-presentation-head-numeric {
  width: 100px;
  padding: 4px;
  border: 1px solid $fin-border-color;
}

.fin-presentation-row {
  width: 100%;
  flex-wrap: nowrap;
}

.fin-presentation-item-textual {
  flex: 1;
  flex-wrap: nowrap;
  padding: 4px;
  border: 1px solid $fin-border-color;
}

.fin-presentation-item-numeric {
  width: 100px;
  padding: 4px;
  border: 1px solid $fin-border-color;
}

.fin-warning {
  color: #f4511e;
}

.fin-multi-currency-note {
  color: #1976d2;
}
