.overview-table {
  border-collapse: collapse;
  width: 100%;
}

.overview-table td,
.overview-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.overview-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.overview-table tr:hover {
  background-color: #f0f1f3;
}

.overview-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.body--dark .overview-table {
  td,
  th {
    border-color: rgba(255, 255, 255, 0.05);
    color: #e2e8f0;
  }

  tr:nth-child(even) {
    background-color: #192034;
  }

  tr:hover {
    background-color: rgba(30, 37, 56, 0.6);
  }

  th {
    background-color: var(--primary-dark-opacity-2);
    color: #cbd5e1;
  }
}
